# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Cache/CacheWsMaven/target/
/Cache/ClienteCacheWsMaven/target/
/Broker/ServicioUnoMvn/target/
/Broker/ServicioDosMvn/target/
/Broker/BrokerWsMvn/target/
/Broker/ClienteBrokerWsMvn/target/
/RestSpring/MicroServicios0001/target/
/RestSpring/EjemploRestJson/target/
/RestSpring/EjemploRequestBody/target/